<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Update</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; color: #333; padding: 20px;">



<h2 style="color: #007bff;">Task Status Update: {{text}}</h2>

<p>Hi {{to}},</p>

<p>The Given Task have been moved to the <strong>{{status}}</strong> state.</p>

<p><strong>Task Title:</strong> {{text}}<br>
<strong>Assigned To:</strong> {{from}}<br>

<p>Thank you for your attention to this matter.</p>

<p>Best regards,<br>
{{from}}</p>

</body>
</html>
